div{
    justify-content: center;
    align-items: center;
    display: flex;
}
h3{
    padding-left: 1%;
    color: white;
}
table{
    font-size: 20pt;
    color: white;
}
#footer {
    color: white
}